<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDQpmC0l1Ec7b0dIVSRYknaNrOH2Gtt6dI</string>
	<key>GCM_SENDER_ID</key>
	<string>752656558467</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.QuangPham.GophBar</string>
	<key>PROJECT_ID</key>
	<string>gophbar-c74d6</string>
	<key>STORAGE_BUCKET</key>
	<string>gophbar-c74d6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:752656558467:ios:55d191023e56d1451eaeb6</string>
</dict>
</plist>